@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color:#eee;
  font-family: 'Roboto', sans-serif;
}
.logo, h2{
  color:#780000;
  text-shadow:1px 1px 1px #c1121f;
}

.header nav{
 background-color: #fb8b24;
 box-shadow:1px 1px 1px #ccd5ae;
 border-radius:5px;
 display:flex;
 padding:0% 25px;
}
.header ul{
  flex-basis:60%;
  display:flex;
  justify-content:flex-end;
  list-style:none;
  align-items:center;
}
.header nav a{ 
  text-decoration:none;
  color:#780000;
 margin:0% 20px;
}
.header nav a:hover{
  color:  #ffbf69;
  text-shadow:1px 1px 1px #370617;
}
.content{
  width:70%;
  min-height:350px;
  background: linear-gradient(50deg, rgba(234,226,183,1) 0%, rgba(255,191,105,1) 100%);
  border-radius:15px;
  border:1px solid #ccc;
  padding:25px;
  margin: 25px auto;
}
.login input{
  display:block;
  margin:15px;
  padding:15px;
}